@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

/*General Use Styling*/
.main {
  width: 100%;
}

.component {
  position: relative;
  margin: 20px 0px;
  max-width: 80%;
  left: 10%;
}

#container {
  min-width: 950px;
}

/*Display/Splash Page Styling*/
.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #3b5998;
  height: 30px;
}

.navbar-item {
  color: white;
  font-style: bold;
}

.navbar-item:hover {
  color: white;
  cursor: pointer;
}

.navbar-item:active {
  color: white;
  cursor: pointer;
}

.slider {
  position: absolute;
  max-height: 700px !important;
  max-width: 50vw;
  left: 20%;
  top: 10%
}

.image-gallery-bullet.active {
  background-color: #3b5998 !important;
}

.about {
  position: fixed;
  top: 80%;
  max-width: 80%;
  min-width: 650px;
}

.about-detail {
  text-align: center !important;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #3b5998;
  height: 30px;
}

.footer-item {
  color: white;
  font-style: bold;
}

/*Blog Styling*/
.blog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-group {
  position: relative;
  margin: 20px 0px;
  max-width: 100%;
}

/*Weather Styling*/
td, th {
  vertical-align: middle !important;
  text-align: center !important;
  height: 250px;
  width: 250px;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

/*Youtube Styling*/
.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border:  1px solid #ddd;
  border-radius: 4px;
}

.list-group-item:hover {
  cursor: pointer
}
