@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.input-group {
  position: relative;
  margin: 20px 0px;
  max-width: 100%;
}

.blog-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.component {
  position: relative;
  margin: 20px 0px;
  max-width: 80%;
  left: 10%
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
  height: 250px;
  width: 250px;
}

.slider {
  position: absolute;
  max-height: 50%;
  max-width: 60%;
  left: 20%;
  top: 10%
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border:  1px solid #ddd;
  border-radius: 4px;
}

.main {
  width: 100%
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #3b5998;
  height: 30px;
}

.navbar-item {
  color: white;
  font-style: bold;
}

.navbar-item:hover {
  color: white;
  cursor: pointer;
}

td:first-of-type {
  height: 200px;
  width: 250px;
}

.list-group-item:hover {
  cursor: pointer
}
